.btnClose {
  position: fixed;
  top: 50px;
  right: 30px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.btnClose svg {
  width: 24px;
  height: 24px;
  stroke: #2c3e50;
}

@media (min-width: 900px) {
   .btnClose {
  position: fixed;
  top: 50px;
  right: 50px;
}
	
  .btnClose svg {
    width: 24px;
    height: 24px;
    stroke: #2c3e50;
  }
}

.background-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 9999999;
  align-items: center;
  justify-content: center;
}	
	
	.modal-open{
		 overflow: hidden;
	}
